@use '../variables' as var;
@use '../mixins' as mix;

.dashboard-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .topbar {
    height: 10rem;
    background-color: var.$bg-white;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .search {
      display: flex;
      align-items: center;
      gap: 10rem;

      @include mix.respond-to('tab-land') {

      }


      &__box {
        display: flex;
        align-items: center;

        input {
          width: 40rem;
          height: 4rem;
          border: 1px solid rgba(33, 63, 125, 0.2);
          border-radius: 8px 0 0 8px;
          padding: 0 2rem;
          font-size: 1.4rem;

          &::placeholder {
            color: rgba(84, 95, 125, 0.6);
          }

          @include mix.respond-to('tab-port') {
            width: 30rem;
          }
        }

        button {
          width: 5.6rem;
          height: 4rem;
          background-color: var.$primary-color;
          border-radius: 0 8px 8px 0;
          @include mix.flex-center;
          color: white;
        }
      }

      &__logo {
        text-decoration: none;

        img {
          width: 14.48rem;
        }
      }
    }

    .user {
      &__actions {
        display: flex;
        align-items: center;
        gap: 3rem;

        @include mix.respond-to('tab-port') {
          display: none;
          position: absolute;
          top: 10rem;
          right: 0;
          left: 0;
          background-color: var.$bg-white;
          flex-direction: column;
          padding: 2rem;
          box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.05);
          gap: 2rem;
          align-items: flex-start;
          border-top: 1px solid rgba(33, 63, 125, 0.1);

          &.open {
            display: flex;
          }

          .notifications {
            position: relative;
            color: var.$secondary-color;
          }
        }
      }

      &__profile {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 4.8rem;
          height: 4.8rem;
          border-radius: 50%;
          object-fit: cover;
        }

        &--icon {
          width: 2rem;
          height: 2rem;
        }

        .name {
          color: var.$secondary-color;
          font-weight: 500;
          font-size: 1.6rem;
        }
      }

      &__menu-btn {
        display: none;
        background: none;
        border: none;
        cursor: pointer;

        @include mix.respond-to('tab-port') {
          display: block;
        }

        &--icon {
          width: 2.8rem;
          height: 2.8rem;
        }

      }
    }
  }

  .dashboard-body {
    display: flex;
    margin-top: 10rem; // account for topbar
    flex: 1;

    .sidebar {
      width: 28rem;
      background-color: var.$bg-white;
      box-shadow: 0px .5rem 2rem rgba(0, 0, 0, 0.04);
      padding: 3rem 0;
      position: fixed;
      top: 10rem;
      bottom: 0;
      left: 0;
      overflow-y: auto;
      z-index: 90;

      @include mix.respond-to('tab-land') {
        transform: translateX(-100%);
        &.open {
          transform: translateX(0);
        }
      }

      &__overlay {
        position: fixed;
        top: 10rem;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 80;
      }

      &__bookmark-btn {
        display: none; // desktop
        position: fixed;
        top: 10rem;
        left: 0;
        width: 3rem;
        height: 4rem;
        background-color: var.$primary-color;
        border-radius: 0 .8rem .8rem 0;
        border: none;
        z-index: 95;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out;
        align-items: center;
        justify-content: center;

        @include mix.respond-to('tab-land') {
          display: flex;
        }

        &.open {
          left: 28rem;
        }
      }

      &__section {
        margin-bottom: 3rem;

        &--title {
          font-size: 1.2rem;
          color: var.$text-color;
          text-transform: uppercase;
          font-weight: 500;
          padding: 0 3rem;
          margin-bottom: 1rem;
        }

        ul {
          li {

            a,
            button {
              display: flex;
              align-items: center;
              gap: 1.5rem;
              padding: 1.2rem 3rem;
              color: var.$text-color;
              font-size: 1.6rem;
              width: 100%;
              text-align: left;
              opacity: 0.8;

              &:hover,
              &.active {
                opacity: 1;
                color: var.$secondary-color;
                background-color: rgba(57, 205, 204, 0.06);
                border-left: 0.3rem solid var.$primary-color;
              }
            }
          }
        }
      }
    }

    .main-content {
      flex: 1;
      margin-left: 28rem; // account for sidebar
      padding: 5rem;
      background-color: var.$bg-color;
      min-height: calc(100vh - 10rem);

      @include mix.respond-to('tab-land') {
        margin-left: 0;
        padding: 3rem 2rem;
        width: 100dvw;
        overflow-x: scroll;
      }

      @include mix.respond-to('mobile') {
        padding: 20px 15px;
      }
    }
  }
}

.docs-link {
  text-decoration: underline;
  color: var.$secondary-color;
  font-size: 1.6rem;
  margin-right: 2rem;
}