$primary-color: #39CDCC;
$secondary-color: #213F7D;
$text-color: #545F7D;
$text-light: #545F7D;
$bg-color: #FBFBFB; // Lendsqr dashboard bg
$bg-white: #FFFFFF;
$border-color: rgba(33, 63, 125, 0.1);
$success-color: #39CD62;
$warning-color: #E9B200;
$danger-color: #E4033B;

$font-family: 'Work Sans', sans-serif;

// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;


